@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}



/* FOOTER SECTION */

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  
}

.social-links li {
  list-style-type: none;
}




